<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">
			<h4>Add new project</h4>
			<div class="col-md-12">
				<form action="#" th:action="@{/projects/save}" th:object="${project}"
					method="POST">
					<input type="text" th:field="*{name}" placeholder="Project Name"
						class="form-control mb-4 col-4">

					<textarea th:field="*{info}" placeholder="projectInfo"
						class="form-control mb-4 col-4"></textarea>
					<br>
					<button type="submit" class="btn btn-primary btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Save Project
					</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
