<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div th:replace="~{fragments/admin_navTabs :: admin_add_task_btn}"></div>
	</div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">
			<div class="parent">
				<div class="div1">
					<h3 class="icon icon-group">About</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book. It
						has survived not only five centuries, but also the leap into
						electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages, and more recently with desktop
						publishing software like Aldus PageMaker including versions of
						Lorem Ipsum.</p>
				</div>
				<div class="div2">
					<h3 class="icon icon-group">Members</h3>
					<p>
						<span><a>TBC</a></span>
					</p>
					<p>
						<span><a>TBC</a></span>
					</p>
					<p>
						<span><a>TBC</a></span>
					</p>
					<p>
						<span><a>TBC</a></span>
					</p>
					<p>
						<span><a>TBC</a></span>
					</p>
					<p>
						<span><a>TBC</a></span>
					</p>
					<p>
						<span><a>TBC</a></span>
					</p>
				</div>
				<div class="div3">
					<h3 class="icon icon-group">Tasks</h3>
					<table border="1" class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<td>Type</td>
								<td>Open</td>
								<td>Closed</td>
								<td>Total</td>
							</tr>
						</thead>
						<tbody>
							<!--tr th:if="${project.tasks.empty}">
								<td colspan="4" align="center">No Tasks Available</td>
							</tr -->
							<tr th:each="task : ${project.tasks}">
								<td><a th:text="${task.type}"
									th:href="@{/tasks/projects/{id}?type={type} (id=${project.id}, type=${task.type})}">
										Type </a></td>
								<td><a th:text="${task.open}"
									th:href="@{/tasks/projects/{id}?type={type}&status=open (id=${project.id}, type=${task.type}, status=${task.open})}">
										Open </a></td>
								<td><a th:text="${task.closed}"
									th:href="@{/tasks/projects/{id}?type={type}&status=closed (id=${project.id}, type=${task.type}, status=${task.closed})}">
										Closed </a></td>
								<td><a th:text="${task.open + task.closed}"
									th:href="@{/tasks/projects/{id}?type={type} (id=${project.id}, type=${task.type})}">
										Total </a></td>
							</tr>
						</tbody>
					</table>
					<div>
						<a th:href="@{/tasks/projects/{id}?type=ALL (id=${project.id})}"> All tasks </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>