<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">
			<div th:replace="~{fragments/admin_user_navTabs :: admin_user_nav}"></div>

			<!-- FORM -->
			<form method="post" th:href="@{/admin/user/update}"
				th:object="${dto}">
				<input type="hidden" th:field="*{accountId}" id="accountId">
				<div class="splitcontentleft">
					<fieldset class="box tabular">
						<legend>User</legend>
						<p>
							<label for="user_mail">E-mail<span class="required">
									*</span></label><input type="text" th:field="*{email}">
									 <p class="error" th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
						<p>
							<label for="user_firstname">First Name<span
								class="required"> *</span>
							</label> <input id="user_firstname" type="text" th:field="*{firstName}">
							 <p class="error" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
						<p>
							<label for="user_lastname">LastName<span class="required">*</span>
							</label> <input id="user_lastname" type="text" th:field="*{lastName}">
							 <p class="error" th:each="error: ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
							<p>
							<label for="admin">Is Admin</label> 
							<input id="admin" type="checkbox" th:field="*{isAdmin}" />
					</fieldset>
				</div>
				<br>
				<div class="splitcontentleft">
					<fieldset class="box tabular">
						<legend>Authentication</legend>
						<p>
							<label for="generatePassword">Generate new password</label> 
							<input id="generatePassword" type="checkbox" th:field="*{generatePassword}" />
						</p>
					</fieldset>
				</div>
				<br>
				<div class="col-md-6 col-md-offset-3">
					<input type="submit" name="submit" id="submit"
						class="form-control btn btn-primary" value="Save">
				</div>
			</form>
			<!-- FORM END-->
		</div>
	</div>
</body>
</html>
