<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div th:replace="~{fragments/admin_navTabs :: admin_nav}"></div>

		<div class="row well">
			<div class="container bootstrap snippets bootdey">
				<h2>Users</h2>

				<div th:if="${param.success}">
					<div class="alert alert-success">User created successfully</div>
				</div>

				<!-- ADD PROJECT-->
				<div sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{/user/new}" class="btn btn-primary btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Add new User
					</a>
				</div>
				<br>
				<div class="col-md-12">
					<table border="1"
						class="table table-striped table-responsive-md row well">
						<thead>
							<tr>
								<th><a>First Name</a></th>
								<th><a>Last Name</a></th>
								<th><a>Email</a></th>
								<th>Created at</th>
								<th>Last Active</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${userList}">
								<td th:text="${user.firstName}"></td>
								<td th:text="${user.lastName}"></td>
								<td><a th:href="@{/admin/user/{id} (id=${user.accountId})}"
									th:text="${user.email}"></a></td>
								<td th:text="${user.registrationDate}"></td>
								<td th:text="${user.lastActiveDate}"></td>
								<td>
									<a type="button" class="btn btn-sm btn-warning">
										<span class="glyphicon glyphicon-pencil"></span> Block
									</a>
									<a type="button" class="btn btn-sm btn-danger">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>