<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header-css}"/>
<body>
 <div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">
			<div class="container-xl px-4 mt-4">
				<!-- Account page navigation-->
				<nav class="nav nav-borders">
					<a class="nav-link"
						th:href="@{/users/{id}/settings (id=${user.accountId})}">
						Profile Information</a> 
					<a	class="nav-link active ms-0"
						href="#">
						Security</a>
					<a class="nav-link"
						href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
						target="__blank">Notifications</a>
				</nav>
				<hr class="mt-0 mb-4">
				<div>
					<div class="col-lg-8">
						<!-- Change password card-->
							<div class="card-body">
								<form>
									<!-- Form Group (current password)-->
									<div class="mb-3" align="center">
										<label class="medium mb-1" for="currentPassword">Current
											Password</label> <input class="form-control" id="currentPassword"
											type="password" placeholder="Enter current password">
									</div><br>
									<!-- Form Group (new password)-->
									<div class="mb-3" align="center">
										<label class="medium mb-1" for="newPassword">New
											Password</label> <input class="form-control" id="newPassword"
											type="password" placeholder="Enter new password">
									</div><br>
									<!-- Form Group (confirm password)-->
									<div class="mb-3" align="center">
										<label class="medium mb-1" for="confirmPassword">Confirm
											Password</label> <input class="form-control" id="confirmPassword"
											type="password" placeholder="Confirm new password">
									</div>
									<br>
									<button class="btn btn-primary" type="button">Save</button>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#myTab a:last').tab('show')
		})
	</script>

</body>
</html>
