<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}"/>
<body>
 <div th:replace="~{fragments/header :: navbar}"></div>
<div class="container bootstrap snippets bootdey">
    <div class="row well">

        <div class="col-md-12">
            <div class="panel">
                <img class="pic img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span
                        class="glyphicon glyphicon-picture"></span> Change cover</a>
            </div>
            <!--NAME UNDER PHOTO -->
				<h4 th:text="${user.firstName} + ' ' + ${user.lastName}">User name</h4>
				<div class="col-md-12">
					<!-- TABLE FOR CREATED TASKS -->
					<div>
						<h4 align="center" th:text="'Created tasks (' + ${#lists.size(createdTasks)} +')'">Created tasks</h4>
						<table border="1" class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th><a>ID</a></th>
									<th><a>Project</a></th>
									<th><a>Name</a></th>
									<th><a>Status</a></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${createdTasks.empty}">
									<td colspan="2">No Tasks Available</td>
								</tr>
								<tr th:each="task : ${createdTasks}">
									<td><span th:text="${task.id}"> ID </span></td>
									<td><span th:text="${task.project.name}"> Project </span></td>
									<td><span th:text="${task.name}"> Name </span></td>
									<td><span th:text="${task.status.name}"> Status </span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- TABLE FOR ASSIGNED TASKS -->
					<div>
						<h4 align="center" th:text="'Assigned tasks (' + ${#lists.size(assignedTasks)} +')'">Assigned tasks</h4>
						<table border="1" class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th><a>ID</a></th>	
									<th><a>Project</a></th>
									<th><a>Name</a></th>
									<th><a>Status</a></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${assignedTasks.empty}">
									<td colspan="2">No Tasks Available</td>
								</tr>
								<tr th:each="task : ${assignedTasks}">
									<td><span th:text="${task.id}"> ID </span></td>
									<td><span th:text="${task.project.name}"> Project </span></td>
									<td><span th:text="${task.name}"> Name </span></td>
									<td><span th:text="${task.status.name}"> Status </span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
    </div>
</div>
</body>
</html>
