<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">

			<div class="col-md-12">
				<div class="panel">
					<img class="pic img-circle"
						src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
					<a href="#" class="btn btn-xs btn-primary pull-right"
						style="margin: 10px;"><span
						class="glyphicon glyphicon-picture"></span> Change cover</a>
				</div>
				<h4 th:text="${user.firstName} + ' ' + ${user.lastName}">User
					name</h4>
				<div class="col-md-12">
					<!-- TABLE FOR CREATED TASKS -->
					<div>
						<h4 align="center"
							th:text="${createdTasks==null} ? 'Created tasks (0)' : 'Created tasks (' + ${#lists.size(createdTasks)} +')'">Created
							tasks</h4>
					</div>
					<div th:replace="~{fragments/user :: userTable(${createdTasks})}"></div>
					<!-- TABLE FOR ASSIGNED TASKS -->
					<div>
						<h4 align="center"
							th:text="${assignedTasks==null} ? 'Assigned tasks (0)' : 'Assigned tasks (' + ${#lists.size(assignedTasks)} +')'">Assigned
							tasks</h4>
					</div>
					<div th:replace="~{fragments/user :: userTable(${assignedTasks})}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
