<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div class="row well" th:fragment="admin_nav">
		<div class="container bootstrap snippets bootdey">
			<div>
				<ul class="nav nav-tabs">
					<li><a th:href="@{/admin/projects}">Projects</a></li>
					<li><a th:href="@{/admin/users}">Users</a></li>
					<li><a th:href="@{/admin/groups}">Groups</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row well" th:fragment="groups_nav(groupId)">
		<div>
			<div>
				<ul class="nav nav-tabs">
					<li><a th:href="@{/admin/groups/{groupId}/edit?tab=group (groupId=${groupId})}">Group</a></li>
					<li><a th:href="@{/admin/groups/{groupId}/edit?tab=users (groupId=${groupId})}">Users</a></li>
					<li><a th:href="@{/admin/groups/{groupId}/edit?tab=projects (groupId=${groupId})}">Projects</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row well"  th:fragment="admin_add_button(url, string)">
		<div sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{${url}}" class="btn btn-primary btn-success"> <span
				class="glyphicon glyphicon-plus-sign"
				th:text="' Add ' + ${string}"></span>
			</a> <br>
		</div>
	</div>

	<div class="row well" sec:authorize="hasAuthority('ADMIN')"
		th:fragment="admin_add_task_btn">
		<div th:if="${param.success}">
			<div class="alert alert-success">Task created successfully</div>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-success dropdown-toggle"
				data-toggle="dropdown">
				Add new Task <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a
					th:href="@{/tasks/projects/{id}/new?type={type} (id=${project==null} ? ${projectId} : ${project.id}, type=${'TASK'})}">Task</a>
				</li>
				<li><a
					th:href="@{/tasks/projects/{id}/new?type={type} (id=${project==null} ? ${projectId} : ${project.id} , type=${'BUG'})}">Bug</a></li>
				<li><a
					th:href="@{/tasks/projects/{id}/new?type={type} (id=${project==null} ? ${projectId} : ${project.id}, type=${'REQUIREMENT'})}">Requirement</a></li>
				<li><a
					th:href="@{/tasks/projects/{id}/new?type={type} (id=${project==null} ? ${projectId} : ${project.id}, type=${'SUPPORT'})}">Support</a></li>
			</ul>
		</div>
	</div>
	<br>

</body>
</html>