<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="row well" th:fragment="admin_user_nav">
		<div th:if="${param.success}">
			<div class="alert alert-success">User updated successfully</div>
		</div>
		<div class="container-xl px-4 mt-4">
			<nav class="nav nav-borders">
				<a class="nav-link"
					th:href="@{/admin/user/{id} (id=${user.accountId})}"> User</a> <a
					class="nav-link"
					th:href="@{/admin/user/{id}/groups (id=${user.accountId})}">Groups</a>
				<a class="nav-link"
					th:href="@{/admin/user/{id}/projects (id=${user.accountId})}">Projects</a>
			</nav>
		</div>
	</div>
</body>
</html>