
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:top="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
	<!--  All snippets are MIT license http://bootdey.com/license -->
	<title>social User Profile and layout - Bootdey.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">


		body{
			background:#eee;
		}
		.pic
		{
			margin-top:50px;
			width:120px;
			margin-left:50px;
			margin-bottom:-60px;
		}

		.panel
		{
			background-image:url("https://via.placeholder.com/800x100/FFB6C1/000000");
		}

		.name
		{
			position:absolute;
			padding-left:200px;
			font-size:30px;
		}

		.dropdown
		{
			position:absolute;
		}

		.change
		{
			position:relative;
			bottom:20px;
			padding:1px;
			color:white;
			text-decoration:none;
		}


		.change:hover
		{
			text-decoration:none;
			background-color:black;
			color:white;
		}
	</style>
</head>
<body style="">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<nav class="navbar navbar-inverse container" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Profile</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${employee.getFirstName()}" >Username <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li align="center" class="well">
							<div><img class="img-responsive" style="padding:2%;" src="https://bootdey.com/img/Content/avatar/avatar1.png"><a class="change" href="">Change Picture</a></div>
							<a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Security</a>
							<a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="container bootstrap snippets bootdey">
	<div class="row well">
		<div class="container">
			<h2>Project Management: Add new project</h2>
			<hr>
			<h3>Project Details</h3>

			<form action="#" th:action="@{/saveProject/project}" th:object="${project} "
				  method="POST">

				<input type="text" th:field="*{projectName}"
					   placeholder="Project Name" class="form-control mb-4 col-4">


				<!--  NEED TO PUT ASSIGNEE BY EMPLOYEE ALIAS NAME + WAY TO PICK  -->
				<input type="text" th:field="*{assigned}"
					   placeholder="assigned" class="form-control mb-4 col-4">

				<input type="text" th:field="*{projectInfo}"
					   placeholder="projectInfo" class="form-control mb-4 col-4">

				<!-- DATE -->

				<input type="date" name="date" th:field="${project.startDate}"
					   placeholder="startDate" class="form-control mb-4 col-4">

				<input type="date" name="date" th:field="${project.endDate}"
					   placeholder="endDate"  class="form-control mb-4 col-4">

				<button type="submit" class="btn btn-info col-2"> Save Project</button>
			</form>

			<hr>

			<!-- WARNING -->
			<a th:href = "@{/project/project-list}"> Back to Project List</a>
		</div>

	</div>
</div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">



	$(function () {
		$('#myTab a:last').tab('show')
	})


</script>

</body>
</html>
<body>

