<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">

			<div class="col-md-12">
				<div th:replace="~{fragments/admin_navTabs :: groups_nav(${group.id})}"></div>
				<div th:if="${param.success}">
					<div th:replace="~{fragments/admin_navTabs :: success_info('User added successfully')}"></div>
				</div>
				<div
					th:replace="~{fragments/admin_navTabs :: admin_add_button('/admin/groups/' + ${group.id} +'/users/new' ,'User')}">
				</div>
				<br>

				<fieldset class="box tabular">
					<legend>Users</legend>
					<div class="col-md-12">
						<table border="1"
							class="table table-striped table-responsive-md row well">
							<thead>
								<tr>
									<th><a>ID</a></th>
									<th><a>User</a></th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${group.users}">
									<td><a th:text="${user.accountId}"></a></td>
									<td th:text="${user.userName}"></td>
									<td><a>Remove</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>