<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-css}" />
<body>
	<div th:replace="~{fragments/header :: navbar}"></div>
	<div class="container bootstrap snippets bootdey">
		<div class="row well">
			<h4>Add new group</h4>
			<div class="col-md-12">
				<form th:action="@{/admin/groups}" th:object="${group}"	method="POST">
					<input type="text" th:field="*{name}" placeholder="Group Name"
						class="form-control mb-4 col-4">
					<p class="error" th:each="error: ${#fields.errors('name')}" th:text="${error}">Validation error</p>
					<button type="submit" class="btn btn-primary btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Save Group
					</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
